{% extends "home/navbar-top.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>一切从这里开始！</h1>
    <p>项目的首页，链接到项目下所有Web应用</p>
    <ul class="masthead-links">
      <li>
        <a href="https://github.com/liuli195/django-test">GitHub 项目</a>
      </li>
      <li>
        版本 0.0.1
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
      <div class="container">
        <p>我们在设计与创作中倾注世间之爱 by foxliu</p>
        <ul class="footer-links">
          <li><a href="https://github.com/liuli195/django-test/issues?state=open">问题</a></li>
          <li class="muted">·</li>
          <li><a href="https://github.com/liuli195/django-test/wiki">维基</a></li>
        </ul>
      </div>
</footer>
{% endblock %}