{% extends "home/navbar-top.html" %}

{% block content %}
<div class="jumbotron masthead">
  <div class="container">
    <h1>Bootstrap</h1>
    <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>
    <p>
      <a href="assets/bootstrap.zip" class="btn btn-primary btn-large">Download Bootstrap</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="http://github.com/twitter/bootstrap">GitHub project</a>
      </li>
      <li>
        <a href="./getting-started.html#examples">Examples</a>
      </li>
      <li>
        <a href="./extend.html">Extend</a>
      </li>
      <li>
        Version 0.0.1
      </li>
    </ul>
  </div>
</div>
{% endblock %}