{% extends "home/base.html" %}

{% block navbar-top %}
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <!--<a class="brand" href="#">Project name</a>-->
          </a>
          <div class="nav-collapse collapse">
          	<!--<p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
           </p>-->
            <ul class="nav">
              <li {% if home %}class="active"{% endif %}><a href="/../">首页</a></li>
              <li {% if etask %}class="active"{% endif %}><a href="/etask/">任务</a></li>
              <li {% if polls %}class="active"{% endif %}><a href="/polls/">投票</a></li>
              <li><a href="/admin/">管理</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block subnav %}
  	  <div class="row-fluid">
  	  	<div class="span2 horizontal-center">
  	  	  	{% if button_data %}
  			{% for button in button_data %}
  			{% ifequal button.3 'none' %}		
  			{% ifequal button.4 'show' %}
  			{% ifequal button.1 'add_task' %}
        <button class="btn btn-danger myaddbutton" data-toggle="modal" data-target="#add_task_modal">
        {{ button.2 }}</button>
        	{% endifequal %}
        	{% endifequal %}
        	{% endifequal %}
        	{% endfor %}
        	{% endif %}
        </div>
        <div class="span10">
            {% if data.all_task %}
  			<a class="btn disabled mybutton"><input type="checkbox" id='all'/></a>	
  			{% endif %}
  			{% block btngroup %}
  			{% endblock %}
    	</div>  	
  	  </div>
{% endblock %}

{% block navlist %}
<div class="well sidebar-nav mybar" data-spy="affix">
  <ul class="nav nav-list">
    {% block nav-list-name %}
    {% endblock %}
  </ul>
</div>
{% endblock %}