{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans '修改问题' %}
</div>
{% endblock %}

{% block content %}
    <p>请选择一个投票，并确定修改！</p>
    <form action="" method="post">{% csrf_token %}
    <div>
    <p>
    <select name="select">
  		<option>请选择---</option>
  		{% for poll in polls_list %}
  		<option input type="radio" name="poll" id="poll{{ forloop.counter }}" value="{{ poll.id }}">
  		<label for="poll{{ forloop.counter }}">{{ poll }}</label></option>
  		{% endfor %}
	</select>
	</br>
	{% if choices %}
	{{ choices }}
	{% endif %}
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="确定" />
    <a href="{% url opts|admin_urlname:'changelist' %}"><input type='button' name="exit" value="取消" /></a>
    </div>
    </form>
{% endblock %}