{% extends "home/navbar-top.html" %}

{% block add_nav %}
<input class="span6 add_input" style="margin-bottom: 0px;" type="text" autocomplete="off" placeholder="新增任务，回车提交" >
<input type="submit" name='add_task' id='submib_addtask' style="display: none" />
<input type="hidden" id='task_text' name="task_text" />
<input type="hidden" id='priority'  name="priority" value="1" />
<input type="hidden" id='task_list' name="task_list" value={{ data.list_names }} />

<div class="popover fade right in" id="input_list" style="display: none;">
	<div class="arrow" style="top: 18px;"></div>
		<div class="popover-inner">
			<h3 class="popover-title">按Tab键切换要输入的内容</h3>
			<div class="popover-content">
			  <ul class="nav nav-list">
  				<li class="active selete" index='task_text'><a href="#"><strong>任务内容：</strong><em class="text"></em></a></li>
  				<li class="selete" index='task_list'><a href="#"><strong>任务箱子：</strong><em class="text">{{ data.list_names }}</em></a></li>		
  				<li class="selete" index='priority'><a href="#"><strong>优先级：</strong><em class="text">1</em></a></li>
			  </ul>
		   </div>
		</div>
</div>

<ul class="dropdown-menu autoc" style="display: none;">
</ul>

<div class='autoc-data' style="display: none">
<ul class='task_list'>
	<li data-value="收集箱" ><a href="#">收集箱</a></li>
	<li data-value="今日待办" ><a href="#">今日待办</a></li>
	<li data-value="明日待办" ><a href="#">明日待办</a></li>
	<li data-value="择日待办" ><a href="#">择日待办</a></li>
	<li data-value="等待" ><a href="#">等待</a></li>
</ul>
<ul class='priority'>
	<li data-value="1" ><a href="#">1</a></li>
	<li data-value="2" ><a href="#">2</a></li>
	<li data-value="3" ><a href="#">3</a></li>
</ul>
</div>

{% endblock %}

{% block nav-list-name %}
  {% if latest_task_list %}
    <li {% ifequal activeid 0 %}class="active"{% endifequal %}>
      <a href="/etask/">
  	    全部任务
  	  </a>
    </li>
    {% for task_list in latest_task_list %}
      <li {% ifequal activeid task_list.id %}class="active"{% endifequal %}>
      	<a href="/etask/{{ task_list.id }}/">
  	      {{ task_list.list_name }}
  	    </a>
      </li>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block incontent %}
<div class="row-fluid button_nav" data-spy="affix">
	<div class="span12" style="padding-left: 2px;">
            {% if data.all_task %}
  			<a class="btn disabled mybutton"><input type="checkbox" id='all'/></a>
  			{% endif %}
  			<span id="btn-hide" style="display: none;">
  			{% if button_data %}
  			{% for button in button_data %} 
  			{% ifequal button.3 'none' %}		
  			  {% ifequal button.4 'show' %}
  			  {% ifnotequal button.1 'add_task' %}
  			<button name={{ button.1 }} class="btn mybutton" >{{ button.2 }}</button>
  			 {% endifnotequal %}
  			  {% endifequal %}
  			{% endifequal %}
  			{% ifequal button.3 'dropdown' %}
  			 {% ifequal button.4 'show' %}
  			 {% ifnotequal button.1 'add_task' %}	
  			<div class="btn-group">
  			<button class="btn dropdown-toggle mybutton" data-toggle="dropdown" />
  			{{ button.2 }}
  			<span class="caret"></span></button>
  				<ul class="dropdown-menu">
  				<input id="submib_value"  type="hidden">
  				{% for menu in button.5 %}
    			<li><a href="#" name={{ button.1 }} value={{ menu.id }}>{{ menu.list_name }}</a></li>
    			{% endfor %}
  				</ul>
  			</div>
  			{% endifnotequal %}
  			{% endifequal %}
  			{% endifequal %}
  			{% endfor %}
  			{% endif %}		
  			</span>
  	</div>
</div>

<div class="row-fluid">
	<div class="span12">
			<table class="table table-hover table-condensed tabal-margin">
              <tbody id="selected-light">
              	{% for task in data.all_task %}
                <tr id={{ task.id }} style="cursor:pointer" {% ifequal task.id data.new %}class="new"{% endifequal %}>
                  <td><input type="checkbox" id={{ task.id }} name="chioce-{{ task.id }}" value="{{ task.id }}" /></td>
                  {% ifequal task.priority 1 %}
                  <td><span class="badge badge-success">{{ task.priority }}</span></td>
                  {% endifequal %}                
                  {% ifequal task.priority 2 %}
                  <td><span class="badge badge-info">{{ task.priority }}</span></td>
                  {% endifequal %}
                  {% ifequal task.priority 3 %}
                  <td><span class="badge badge-important">{{ task.priority }}</span></td>
                  {% endifequal %}
                  
                  <td>{{ task.task_text }}</td>
                  {% ifequal activeid 0 %}
                  <td><strong>{{ task.task_list }}</strong></td>
                  {% endifequal %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
	</div>
</div>
{% endblock %}
