{% extends "home/navbar-top.html" %}

{% block nav-list-name %}
  {% if latest_task_list %}
    <li {% ifequal activeid 0 %}class="active"{% endifequal %}>
      <a href="/etask/">
  	    <i class="icon-chevron-right"></i>全部任务
  	  </a>
    </li>
    {% for task_list in latest_task_list %}
      <li {% ifequal activeid task_list.id %}class="active"{% endifequal %}>
      	<a href="/etask/{{ task_list.id }}/">
  	      <i class="icon-chevron-right"></i>{{ task_list.list_name }}
  	    </a>
      </li>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block btngroup %}
  			<span id="btn-hide" style="display: none;">
  			{% if button_data %}
  			{% for button in button_data %} 
  			{% ifequal button.3 'none' %}		
  			  {% ifequal button.4 'show' %}
  			<button name={{ button.1 }} class="btn mybutton" >{{ button.2 }}</button>
  			  {% endifequal %}
  			{% endifequal %}
  			{% ifequal button.3 'dropdown' %}
  			 {% ifequal button.4 'show' %}		
  			<div class="btn-group">
  			<button class="btn dropdown-toggle mybutton" data-toggle="dropdown" />
  			{{ button.2 }}
  			<span class="caret"></span></button>
  				<ul class="dropdown-menu">
  				<input id="submib_value"  type="hidden">
  				{% for menu in button.5 %}
    			<li><a href="#" name={{ button.1 }} value={{ menu.id }}>{{ menu.list_name }}</a></li>
    			{% endfor %}
  				</ul>
  			</div>
  			{% endifequal %}
  			{% endifequal %}
  			{% endfor %}
  			{% endif %}  			
  			</span>
{% endblock %}

{% block incontent %}
<table class="table table-hover table-condensed">
              <tbody id="selected-light">
              	{% for task in all_task %}
                <tr id={{ task.id }}>
                  <td><input type="checkbox" id={{ task.id }} name="chioce-{{ task.id }}" value="{{ task.id }}" /></td>
                  
                  {% ifequal task.priority 1 %}
                  <td><span class="badge badge-success">{{ task.priority }}</span></td>
                  {% endifequal %}                
                  {% ifequal task.priority 2 %}
                  <td><span class="badge badge-warning">{{ task.priority }}</span></td>
                  {% endifequal %}
                  {% ifequal task.priority 3 %}
                  <td><span class="badge badge-important">{{ task.priority }}</span></td>
                  {% endifequal %}
                  
                  <td>{{ task.task_text }}</td>
                  <td>{{ task.task_list }}</td>
                  <td>{{ task.pub_date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
{% endblock %}