
body {
      padding-top: 40px;
      padding-bottom: 40px;
}

.sidebar-nav {
        padding: 9px 0px;
}

.mybutton {
	padding: 4px 18px;
	margin:  0px 6px;
}

#btn-hide > .btn:first-child {
	margin-right: 12px;
}

.mybar {
	width: 190px;
	margin-top: 41px;
	border-top: 0px;
}

.mysubnav {
	width: 100%;
	height: 40px;
	background-color: whiteSmoke;
	line-height: 36px;
	border: 1px solid #E3E3E3;
	z-index: 10;
}

.add_nav {
	height: 40px;
	background-color: white;
	line-height: 36px;
	border-bottom: 1px solid #E3E3E3;
}

.horizontal-center {
	text-align: center;
}

.subnavpadd {
  padding-top: 42px;
}

.tabal-margin {
	margin-top: 40px;
}

.myalert {
	height: 20px; 
	padding-bottom: 0px; 
	font-size: 13px; 
	background-color: #FFDBA5; 
	color: black; 
	margin-bottom: 0px; 
	position: absolute; 
    left: 50%; 
    top: 67px;
    z-index: 20;
}

.mymargin{
	margin-left: 4px;
}

.modal_body_pad {
    padding-bottom: 60px;
	padding-left: 42px;
	padding-right: 42px;
}

.app_title {
	font-size: 20px;
	color: #DA4F49;
}

.icon-question-sign {
	margin-top: 4px
}
